<!DOCTYPE html>
<html>
<head>
	<title>to-do list</title>
</head>
<body>
	<h1>to-do:</h1>
	<form id="add-part">
		<label for="new">add an item to your list! :</label>
		<input type="text" id="new" name="new">
		<button type="submit" id="add">Add</button>
	</form>
	<ul id="list">
		<% todos.forEach(todo => { %>
			<li>
				<%= todo.item %>
				<button class="delete" data-id="<%= todo.id %>">x</button>
			</li>
		<% }); %>
	</ul>
	<script src="browserstuff.js"></script>
</body>
</html>

